* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu {
    color: white;
    background-color: rgb(17, 9, 1);
    font-size: 30px;
    width: 25%;
    }

li {
    padding: 10px;
}
li:hover {
    background-color: orange;
    border-width: 2px;
    border-color: orange;
    border-radius: 10px;
    border-style: groove;
}

li:active {
    background-color: #f6d19c;
    border-width: 2px;
    border-color: #f6d19c;
    border-radius: 10px;
    border-style: groove;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 25px;
    }

#logo_texto {
    color: orange;
    font-size: 35px;
    padding: 25px;
}

#about {
    background-color: orange;
    text-align: center;
    padding: 25px;
    padding-left: 500px;
    padding-right: 500px;
    font-size: 25px;
}

#Episodio {
    color: orange;
    font-size: large;
    background-color: black;
    padding: 50px;
    text-align: center;
}

#galeria {
    background-color: orange;
    text-align: center;
    font-size: 30px;
}

footer {
    background-color: #000000;
    text-align: center;
color: orange;
animation-name: example;
animation-duration: 2s;
animation-iteration-count: 99999999999999999999999;
}

@keyframes example {
    from {background-color: #000000;}
    to {background-color: yellow;} }